<!DOCTYPE html>
<html>
<head>
     <title>入力フォーム</title>
    <link rel = "stylesheet" href ="/style.css">
</head>
<body>
  <div class = "con">
   <h1>投稿する</h1>
  <form action = "create_post" method = "post">
       <div class = "content">
            <p>name</p>
            <input name = "name" id ="name">
       </div>
       <div class = "content">
            <p>email</p>
            <input name = "email" id = "email">
       </div>
       <div class = "content">
           <p>title</p>
          <input name = "title" id = "title">
       </div>
       <div class = "content">
          <p>content</p>
          <textarea width = "400px" id = "content"  rows="4" cols="40">
          </textarea>
       </div>
       <div id = "submit-btn">
          <input type = "submit" value ="post" >
       </div>
  </form> 
  <a href = "/">ホームに戻る</a>
  </div>
</body>
<html>