<!DOCTYPE html>
<html>
<head>
     <title>入力フォーム</title>
     <meta charset = "urf-8">
    <link rel = "stylesheet" href ="/stylesheets/style.css">
</head>
<body>
  <div class = "con">
   <h1>投稿する</h1>
  <form action = "create_post" method = "post">
       <div class = "content">
            <p>name</p>
            <input name = "name" id ="name">
       </div>
       <div class = "content">
            <p>email</p>
            <input name = "email" id = "email">
       </div>
       <div class = "content">
           <p>title</p>
          <input name = "title" id = "title">
       </div>
       <div class = "content">
          <p>content</p>
          <textarea width = "400px" id = "content"  rows="4" cols="40" name = "content">
          </textarea>
       </div>
       <div id = "submit-btn">
            <input type = "submit" value = "post!!">
       </div>
  </form> 
  <h3>options</h3>
  <ul>
    <li><a href = "/">ホームに戻る</a></li>
    <li><a href = "/index" >投稿一覧へ</li>
  </div>
</body>

<html>