<!DOCTYPE html>
<html>
<head>
     <title>入力フォーム</title>
     <meta charset = "urf-8">
    <link rel = "stylesheet" href ="/stylesheets/style.css">
</head>
<body>
  <div class = "con">
   <h1>投稿する</h1>
   <div class = "errormessages">
    <% if @post.errors.full_messages.present? %>
     <ul>
       <% @post.errors.full_messages.each do |message| %>
       <li><%= message %></li>
       <% end %>
     </ul>
   </div>
  <% end %>
  <form action = "create_post" method = "post">
       <div class = "content">
            <p>name</p>
            <input name = "name" id ="name" required>
       </div>
       <div class = "content">
            <p>email</p>
            <input name = "email" id = "email" required>
       </div>
       <div class = "content">
           <p>title</p>
          <input name = "title" id = "title" required>
       </div>
       <div class = "content">
          <p>content</p>
          <textarea id = "content" style ="padding:10px; font-size:13px"  rows = "20" cols = "50" name = "content" required>
          </textarea>
       </div>
       <p>password</p>
       <input required type = "password" name = "password">
       <div id = "submit-btn" style = "padding:30px;">
            <input type = "submit" value = "post!!">
       </div>
  </form> 
  <h3>other options</h3>
  <ul>
    <li><a href = "/">ホームに戻る</a></li>
    <li><a href = "/index" >投稿一覧へ</li>
  </div>
</body>

<html>